@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 34 33% 96%;
    --foreground: 220 72% 14%;
    --card: 0 0% 100%;
    --card-foreground: 220 72% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 72% 14%;
    --primary: 220 72% 14%;
    --primary-foreground: 34 33% 96%;
    --secondary: 27 38% 90%;
    --secondary-foreground: 220 72% 14%;
    --muted: 27 38% 90%;
    --muted-foreground: 0 0% 45%;
    --accent: 7 52% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 7 52% 49%;
    --destructive-foreground: 0 0% 100%;
    --border: 27 20% 85%;
    --input: 27 20% 85%;
    --ring: 220 72% 14%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: white !important;
  }
}
